{
  "transport": {
    "name": "redis",
    "reconnect_on_error": true
  },
  "redis":{
    "host":"{{ .Env.REDIS_PORT_6379_TCP_ADDR }}"
  },
  "handlers":{
    "default":{
      "type":"set",
      "handlers":[
        "stdout"
      ]
    },
    "stdout":{
      "type":"pipe",
      "command":"cat"
    }
  }
}