{
  "client":{
    "name":"{{ .Env.HOSTNAME }}",
    "subscriptions":[
      "all"{{if .Env.SUBSCRIPTIONS}}{{$subscriptions := split .Env.SUBSCRIPTIONS ","}}{{ range $subscription := $subscriptions }},"{{ $subscription }}"{{end}}{{end}}
    ]
  }
}